body{
    background-color: chocolate;
}

.devouredfalse{
    background-color: rgb(231, 208, 77);
    margin:8px;
    margin-left: 6%;
    width: 70%;
    height: 50px;  
    font-size: 15px;
    
}

.devouredfalse .devour{
    float:right; 
}